header {
    background-color: #4e5056;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img {
    width: 350px;
    border-radius: 50%;
}
.general-information {
    font-size: 35px;
    letter-spacing: 8px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
main {
    background-color: #ecf0f1;
}
h2 {
   margin-top: 0;
   padding-top: 20px;
   font-family: 'Josefin Sans', sans-serif;
}
h3 {
    font-size: 18px;
    color: #3e4146;
    font-weight: 600;
    font-family: "Open Sans";
}